*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #CCDBDC;
    --secondary-color: #003249;
    --accent: #80CED7;
    --form: #007EA7;
    --positive: rgb(97, 141, 8);
    --negative: red;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--accent);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--form);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}


body{
    background-color: var(--primary-color);
    overflow-x: hidden;
}

 /* ------------------------------------------------ Navbar ----------------------------------------------------------- */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: clamp(0.7rem, 2vw, 1.5rem);
}

.logo{
    width: clamp(30px, 5vw, 40px);
    margin: 1rem;
}

main{
    padding: 1rem;
}

 /* ------------------------------------------------ Book control ----------------------------------------------------------- */

.book-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 2px solid black;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.secondary-cnt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-cnt *{
    margin: 0 1rem;
}

.secondary-cnt input{
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: var(--accent);
    border: 2px solid var(--secondary-color);
    outline: none;
    width: clamp(100px, 35vw, 250px);
    height: 40px;
    padding: .5rem;
    border-radius: 10px;
}

.secondary-cnt input:focus{
    background-color: transparent;
    color: var(--secondary-color);
}

.control-ic{
    cursor: pointer;
    fill: var(--form);
    height: 48px;
}

.control-ic:hover{
    fill: var(--secondary-color)
}

 /* ------------------------------------------------ book card ----------------------------------------------------------- */

.section-title{
    text-align: center;
    padding: 1rem 0;
}

.book-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.book-card{
    width: 300px;
    height: 350px;
    margin: 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    color: var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    position: relative;
}

.book-title-cnt{
    display: flex;
}

.book-title-cnt span{
    font-size: 2rem;
    font-weight: bold;
}

.book-title, .book-author{
    max-width: 240px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book-pages{
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-pages input{
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--accent);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid white;
}

.book-completedPages{
    width: 100px;
}

.isread{
    padding: .5rem;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    height: 20px;
    box-sizing: unset;
    margin-bottom: 1rem;
}

.isread[data-value="false"]{
    background-color: var(--negative);
}

.isread[data-value="true"]{
    background-color: var(--positive);
}

.isread[data-value="false"]::after{
    content: "Yet to Complete";
    font-weight: bold;
    font-size: 1rem;
}

.isread[data-value="true"]::after{
    content: "\1F44F Completed";
    font-weight: bold;
    font-size: 1rem;
}

/* ------------------------------------------------ collection card ----------------------------------------------------------- */

.book-collections{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.book-collection{
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--accent);
}

.book-collection h3{
    margin-bottom: 2rem;
}

.book-collection:hover .collection-control{
    display: flex;
}

.collection-control{
    width: 100%;
    display: none;
    position: absolute;
    bottom: 10px;
    left: 0;
    justify-content: space-evenly;
    align-items: center;
}

.collection-control img{
    transition: transform .2s ease-in;
}

.collection-control img:hover{
    transform: scale(1.2);
    
}

/* ------------------------------------------------ Add book form ----------------------------------------------------------- */

.book-options-cnt{
    width: 100%;
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.book-card:hover .book-options-cnt{
    display: flex;
}

.book-options-ic{
    cursor: pointer;
    position: relative;
    transition: transform .2s ease-in-out;
}

.book-card:hover .book-options-ic:first-child{
    animation: left-in .4s ease;
}

.book-options-ic:first-child{
    right: 0;
}

.book-card:hover .book-options-ic:nth-child(2){
    animation: fade-in 1s ease;
}

.book-card:hover .book-options-ic:last-child{
    animation: right-in .4s ease;
}

.book-options-ic:last-child{
    left: 0;
}

@keyframes left-in {
    0%{
        right: 20%;
    }
    100%{
        right: 0;
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes right-in {
    0%{
        left: 20%;
    }
    100%{
        left: 0;
    }
}

.book-options-ic:hover{
    transform: scale(1.2);
}

.add-forms, .display-collection-lists{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-form{
    width: 450px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--form);
    color: white;
    position: relative;
}

.form-header{
    margin: 1rem 0;
}

.form-header h1{
    text-align: center;
    color: white;
}

.close-form, .close-collection-ic{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.book__form-input-cnt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 2rem 0;
}

.book__form-input-cnt .book__form-text{
    font-size: 1.4rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--accent);
    color: white;
    z-index: 2;
    width: 90%;
}

.label-input{
    transform-origin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    left: 8%;
    bottom: 10%;
    position: absolute;
    transition: transform .4s ease;
}

.book__form-input-cnt .book__form-text:focus:not([readonly]){
    border-bottom: 2px dashed var(--accent);
}

.book__form-input-cnt .book__form-text:focus + .label-input, .book__form-input-cnt input:valid + .label-input{
    transform: translateY(-30px) scale(0.8);
}

.book__form-input-cnt .book__form-text:read-only + .label-input{
    transform: translateY(0) scale(1) !important;
}

.err, .cl-err{
    position: absolute;
    top: 110%;
    left: 10%;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

.book__page-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.book__page-details .book__form-input-cnt .book__form-text{
    width: 80%;
}

.book__page-details .book__form-input-cnt .label-input{
    font-size: 1.2rem;
    left: 12%;
}

.book__form-text[data-name="compPage"] + .label-input, .book__form-text[data-name="totPage"] + .label-input{
    font-size: clamp(.8rem, 3vw, 1.2rem);
}

label[for="isread"]{
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    font-weight: bold;
    margin-right: .8rem;
}

.form_button{
    padding: .4rem 1rem;
    margin: 0 1rem 0 1rem;
    background-color: var(--accent);
    color: var(--secondary-color);
    font-size: clamp(0.8rem, 4vw, 1.2rem);
    cursor: pointer;
}

.form_button:hover{
    background-color: var(--secondary-color);
    color: var(--accent);
}

.none{
    display: none;
}

/* ---------------------------Collection List----------------------------- */

.collection-lists-cnt{
    width: 450px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--form);
    color: white;
    position: relative;
    padding-bottom: 2rem;
}

.collection-lists-cnt h1{
    margin-bottom: 1rem;
    font-size: clamp(1.4rem, 5vw, 2rem);
}

.create-collection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.book__form-text.collection-name{
    background-color: transparent;
    margin-left: 1.5rem;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--accent);
}

.create-collection-ic{
    margin-right: 1.5rem;
    transition: transform .3s linear;
    cursor: pointer;
}

.create-collection-ic:hover{
    transform: scale(1.2);
}

.collection-lists{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.collection-list{
    width: 100%;
    padding: .8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.collection-list:hover{
    background-color: var(--secondary-color);
}

.collection-list[data-checked="true"]{
    background-color: var(--secondary-color);
}

.collection-list[data-checked="true"] .checkbox .checked{
    width: 100%;
    height: 100%;
    background-color: var(--accent);
}

.collection-title{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collection-remove-ic{
    transition: transform .2s ease;
}

.collection-remove-ic:hover{
    transform: scale(1.1);
}

.checkbox{
    width: 15px;
    height: 15px;
    padding: 5px;
    box-sizing: content-box;
    border: 2px solid white;
}

@media (max-width: 550px){
    main{
        padding: .5rem;
    }
    .control-ic{
        width: 30px;
    }

    .add-form{
        width: 80%;
    }

    .collection-lists-cnt{
        width: 90%;
    }
}